---
layout: default
---


<div class="heading" id="toc">
  <h2>Table of contents</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-basics">CSS Basics</a></li>
      <li><a href="#css-syntax">Syntax</a></li>
      <li><a href="#css-classes">Classes</a></li>
      <li><a href="#css-selectors">Selectors</a></li>
    </ul>
    <h4><a href="#scss">SCSS</a></h4>
    <ul>
      <li><a href="#scss-single-declarations">Rules with single declarations</a></li>
      <li><a href="#scss-shorthand">Shorthand notation</a></li>
      <li><a href="#scss-comments">Comments</a></li>
      <li><a href="#scss-variables">Variables</a></li>
      <li><a href="#scss-media-queries">Media queries</a></li>
      <li><a href="#scss-declaration-order">Declaration order</a></li>
      <li><a href="#scss-nesting">Nesting</a></li>
      <li><a href="#scss-operators">Operators</a></li>
      <li><a href="#scss-statements">Statements</a></li>
      <li><a href="#scss-mixins">Mixins</a></li>
      <li><a href="#css-organization">Organization</a></li>
      <!-- <li><a href="#scss-themeing">Themeing</a></li> -->
    </ul>
    <h4><a href="#appendix">Appendix</a></h4>
    <ul>
      <li><a href="#scss-linter">SCSS Lint</a></li>
      <li><a href="#scss-docs">SASS Docs</a></li>
      <li><a href="#editor-prefs">Editor Settings</a></li>
    </ul>
  </div>
</div>

<!-- CSS Part -->
<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-basics" data-scroll="css">
  <div class="col">
    <h3>CSS Basics</h3>
    <p>
      This document is a very basic reference to our common CSS code styles. Given that we are using SASS, there are
      some basics about variables and file structures included.
      We use autoprefixer postCSS Plugin, so there is no need to write them in your code.
    </p>
  </div>
  <div class="col">
    <blockquote>
      Every line of code should appear to be written by a single person, no matter the number of contributors.
      <p>
        by @mdo
      </p>
    </blockquote>
  </div>
</div>

<div class="section" id="css-syntax" data-scroll="css">
  <div class="col">
    <h3>Syntax</h3>
    <ul>
      <li>Use soft tabs with two spaces—they're the only way to guarantee code renders the same in any environment.</li>
      <li>When grouping selectors, keep individual selectors to a single line.</li>
      <li>Include one space before the opening brace of declaration blocks for legibility.</li>
      <li>Place closing braces of declaration blocks on a new line.</li>
      <li>Include one space after <code>:</code> for each declaration.</li>
      <li>Each declaration should appear on its own line for more accurate error reporting.</li>
      <li>End all declarations with a semi-colon. The last declaration's is optional, but your code is more error prone without it.</li>
      <li>Comma-separated property values should include a space after each comma (e.g., <code>box-shadow</code>).</li>
      <li>Don't include spaces after commas <em>within</em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, or <code>rect()</code> values. This helps differentiate multiple color values (comma, no space) from multiple property values (comma with space).</li>
      <li>Don't prefix property values or color parameters with a leading zero (e.g., <code>.5</code> instead of <code>0.5</code> and <code>-.5px</code> instead of <code>-0.5px</code>).</li>
      <li>Lowercase all hex values, e.g., <code>#fff</code>. Lowercase letters are much easier to discern when scanning a document as they tend to have more unique shapes.</li>
      <li>Use shorthand hex values where available, e.g., <code>#fff</code> instead of <code>#ffffff</code>.</li>
      <li>Quote attribute values in selectors, e.g., <code>input[type="text"]</code>. <a href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">They’re only optional in some cases</a>, and it’s a good practice for consistency.</li>
      <li>Avoid specifying units for zero values, e.g., <code>margin: 0;</code> instead of <code>margin: 0px;</code>.</li>
    </ul>
    <p>Questions on the terms used here? See the <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">syntax section of the Cascading Style Sheets article</a> on Wikipedia.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes" data-scroll="css">
  <div class="col">
    <h3>Class names</h3>
    <ul>
      <li>Keep classes lowercase and use dashes (not underscores or camelCase). Dashes serve as natural breaks in
        related class (e.g., <code>.btn</code> and <code>.btn-danger</code>).</li>
      <li>Avoid excessive and arbitrary shorthand notation. <code>.btn</code> is useful for <em>button</em>, but
        <code>.s</code> doesn't mean anything.</li>
      <li>Keep classes as short and succinct as possible.</li>
      <li>Use meaningful names; use structural or purposeful names over presentational.</li>
      <li>Prefix classes based on the closest parent or base class.</li>
    </ul>
    <p>It's also useful to apply many of these same rules when creating SCSS variable names.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors" data-scroll="css">
  <div class="col">
    <h3>Selectors</h3>
    <ul>
      <li>Use classes over generic element tag for optimum rendering performance.</li>
      <li>Avoid using several attribute selectors (e.g., <code>[class^="..."]</code>) on commonly occuring components.
        Browser performance is known to be impacted by these.</li>
      <li>Keep selectors short and strive to limit the number of elements in each selector to three.</li>
      <li>Scope classes to the closest parent <strong>only</strong> when necessary (e.g., when not using prefixed classes).</li>
    </ul>
    <p>Additional reading:</p>
    <ul>
      <li><a href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a></li>
      <li><a href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stop the cascade</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<!-- SCSS Part -->
<div class="heading" id="scss">
  <h2>SCSS</h2>
</div>

<div class="section" id="scss-single-declarations" data-scroll="scss">
  <div class="col">
    <h3>Single declarations</h3>
    <p>In instances where a rule set includes <strong>only one declaration</strong>, consider removing line breaks for
      readability and faster editing. Any rule set with multiple declarations should be split to separate lines.</p>
    <p>The key factor here is error detection—e.g., a CSS validator stating you have a syntax error on Line 183. With a
      single declaration, there's no missing it. With multiple declarations, separate lines is a must for your sanity.</p>
  <div class="scss-lint">
    Ensured by <code>SingleLinePerProperty</code>
  </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/single-declarations.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-shorthand" data-scroll="scss">
  <div class="col">
    <h3>Shorthand notation</h3>
    <p>Strive to limit use of shorthand declarations to instances where you must explicitly set all the available
      values. Common overused shorthand properties include:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Often times we don't need to set all the values a shorthand property represents. For example, HTML headings only
      set top and bottom margin, so when necessary, only override those two values. Excessive use of shorthand
      properties often leads to sloppier code with unnecessary overrides and unintended side effects.</p>
    <div class="hint">
      <p>The Mozilla Developer Network has a great article on
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">shorthand properties</a>
        for those unfamiliar with notation and behavior.</p>
    </div>
    <div class="scss-lint">
      Ensured by <code>Shorthand</code>
    </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/shorthand.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-comments" data-scroll="scss">
  <div class="col">
    <h3>Comments</h3>
    <p>Code is written and maintained by people. Ensure your code is descriptive, well commented, and approachable by
      others. Great code comments convey context or purpose. Do not simply reiterate a component or class name.</p>
    <p>Be sure to write in complete sentences for larger comments and succinct phrases for general notes.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/comments.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-variables" data-scroll="scss">
  <div class="col">
    <h3>Variables</h3>
    <p>Ensure you extract component variables to the top of the component file.
    It helps other developers to get an overview of the available settings.</p>
    <div class="scss-lint">
      <p>
        Ensured by
        <a href="https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#nestingdepth">
        NestingDepth
        </a>
        to extract color Variables.
      </p>
    </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/variables.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-media-queries" data-scroll="scss">
  <div class="col">
    <h3>Media query placement</h3>
    <p>Always thinking from small screens to larger, place media queries at the end of the previous properties. Don't bundle them all in a separate
      stylesheet or at the end of the document. Doing so only makes it easier for folks to miss them in the future.
    </p>
    <p>
      Name Breakpoints as general as possible.
    </p>
    <div class="hint">
      <p>
        Further reading:
      </p>
      <ul>
        <li><a href="http://sass-guidelin.es/#naming-breakpoints">Sass Guidelines</a></li>
        <li><a href="http://www.sitepoint.com/managing-responsive-breakpoints-sass/">Managing breakpoints</a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/media-queries.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-declaration-order" data-scroll="scss">
  <div class="col">
    <h3>Declaration order</h3>
    <p>Related property declarations should be grouped together following the order:</p>
    <ol>
      <li>Positioning</li>
      <li>Box model</li>
      <li>Typographic</li>
      <li>Visual</li>
    </ol>
    <p>Positioning comes first because it can remove an element from the normal flow of the document and override box
      model related styles. The box model comes next as it dictates a component's dimensions and placement.</p>
    <p>Everything else takes place <em>inside</em> the component or without impacting the previous two sections,
      and thus they come last.</p>
    <div class="hint">
      <p>For a complete list of properties and their order,
      please see <a href="http://twitter.github.com/recess">Recess</a>.</p>
    </div>
    <div class="scss-lint">
      <p>Ensured by
        <a href="#https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#propertysortorder">
          PropertySortOrder
        </a> which is set to
        <a href="https://github.com/brigade/scss-lint/blob/master/data/property-sort-orders/recess.txt">
          recess
        </a> and
        <a href="#https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#declarationorder">
          DeclarationOrder
        </a>.
      </p>
    </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/declaration-order.scss %}{% endhighlight %}
  </div>
</div>


<div class="section" id="scss-nesting" data-scroll="scss">
  <div class="col">
    <h3>Nesting</h3>
    <p>Avoid unnecessary nesting. Just because you can nest, doesn't mean you always should.
      Consider nesting only if you must scope styles to a parent and if there are multiple elements to be nested.
    Ensure that outcoming css is still readable.</p>
    <div class="hint">
      <p>Additional reading:</p>
      <ul>
        <li><a href="http://markdotto.com/2015/07/20/css-nesting/">Nesting in SCSS</a></li>
      </ul>
    </div>
    <div class="scss-lint">
      <p>Ensured by
        <a href="https://github.com/brigade/scss-lint/blob/master/lib/scss_lint/linter/README.md#nestingdepth">
          NestingDepth
        </a> to <b>max 3</b> levels.
      </p>
    </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-operators" data-scroll="scss">
  <div class="col">
    <h3>Operators</h3>
    <p>For improved readability, wrap all math operations in parentheses with a single space between values, variables,
      and operators.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/operators.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-statements" data-scroll="scss">
  <div class="col">
    <h3>Statements</h3>
    <p>Read more about <a href="http://thescssway.com/intermediate/if-for-each-while">statements in SCSS</a>.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/statements.scss %}{% endhighlight %}
  </div>
</div>


<div class="section" id="scss-mixins" data-scroll="scss">
  <div class="col">
    <h3>Mixins</h3>
    <p>
      Use mixins if you use at least on argument, so it can be reused and modified.
      If it is more component specific, give it some good defaults.
      Otherwise use a simple placehoder. You can use placholders together with mixins to make the code more structured.
    </p>
    <p>
      Also consider using SCSS functions which only returning one value.
    </p>
    <div class="hint">
      <p>Read more about:</p>
      <ul>
        <li><a href="http://thescssway.com/advanced/pure-scss-functions">SCSS Functions</a></li>
        <li><a href="http://www.sitepoint.com/8-tips-help-get-best-scss/">SCSS best practices</a></li>
      </ul>
    </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/mixins.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="scss-organization" data-scroll="scss">
  <div class="col">
    <h3>Organization</h3>
    <ul>
      <li>Organize sections of code by component.</li>
      <li>Develop a consistent commenting hierarchy.</li>
      <li>Use consistent white space to your advantage when separating sections of code for scanning larger documents.</li>
      <li>When implementing new styles, try to describe them in a reusable way.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="heading" id="appendix" data-scroll="appendix">
  <h2>Appendix</h2>
</div>

<div class="section" id="scss-linter" data-scroll="appendix">
  <div class="col">
    <h3>SCSS Lint</h3>
    <p>
      To ensure the rules of this Guideline make use of a SCSS Linter with the settings found in:
      <a href="https://github.com/paesku/scss-code-guide/blob/gh-pages/.scss-lint.yml">.scss-lint.yml</a>
    </p>
    <div class="hint">
      <p>
        Additional Reading:
      </p>
      <ul>
        <li><a href="http://github.com/brigade/scss-lint/tree/master/lib/scss_lint/linter#linters">SCSS Linters</a></li>
        <li><a href="http://scss-guidelin.es/#scss-lint">SASS Guidelines</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="section" id="scss-docs" data-scroll="scss">
  <div class="col">
    <h3>SASS Docs</h3>
  <p>
    It's highly recommended to document your SCSS Code. Documentation specific
    <a href="http://sassdoc.com/annotations/">Comments</a> will be parsed and will end up in a HTML file.
  </p>
  <div class="hint">
    <p>Check out full documentation of
      <a href="http://sassdoc.com/">sass doc</a> which is available for all common build tools.
    </p>
  </div>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/documentation.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="editor-prefs" data-scroll="appendix">
  <div class="col">
    <h3>Editor preferences</h3>
    <p>Set your editor to the following settings to avoid common code inconsistencies and dirty diffs:</p>
    <ul>
      <li>Use soft-tabs set to two spaces.</li>
      <li>Trim trailing white space on save.</li>
      <li>Set encoding to UTF-8.</li>
      <li>Add new line at end of files.</li>
    </ul>
    <p>Consider documenting and applying these preferences to your project's <code>.editorconfig</code> file.
      For an example, see <a href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">the one in
        Bootstrap</a>. Learn more <a href="http://editorconfig.org">about EditorConfig</a>.</p>
  </div>
</div>
