// Scaffolding and type

$base-font-size: 14px;
$bp-small: 38em;
$bp-medium: 48em;

// Colors
$base-font-color: #5a5a5a;
$link-color: #08c;
$heading-font-color: #2a2a2a;
$grey: #808080;
$darkgrey: #a9a9a9;
$lightgrey: #d3d3d3;
$code-color: #d44950;
$white: #fff;
$bg-color: $white;
$intro-bg-color: #2a3440;
$section-bg-color: #dfe1e8;
$section-border-color: lighten($grey, 6%);

html {
  font-size: $base-font-size;

  @media (min-width: $bp-small) {
    font-size: ceil($base-font-size * 1.1);
  }

  @media (min-width: $bp-medium) {
    font-size: ceil($base-font-size * 1.3);
  }
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: $base-font-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0 0 .5rem;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -.05em;
  color: $heading-font-color;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 1rem;
}

.lead {
  font-size: 1.3rem;
}

.small {
  font-size: .7rem;
}

sup {

  a {
    margin-left: 10px;
    font-size: 14px;
    color: $grey;

    &:hover {
      color: $darkgrey;
      text-decoration: none;
    }
  }
}

blockquote {
  padding-left: 1rem;
  margin: 0 1rem 1rem;
  font-style: italic;
  color: $lightgrey;
  border-left: 2px solid $darkgrey;

  p {
    margin-bottom: 0;
    font-style: normal;
    color: $grey;
  }
}

ul li {
  margin-bottom: .25rem;
}


// Code

code,
pre {
  font-family: "PT Mono", Menlo, "Courier New", monospace;
  font-size: 95%;
}

code {
  padding: 2px 4px;
  font-size: 85%;
  color: $code-color;
  background-color: lighten($lightgrey, 5%);
  border-radius: .2rem;
}

pre {
  display: block;
  margin: 0 0 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.highlight {
  margin: 0;
}

.highlight pre {
  margin-bottom: 0;
}

.highlight + .highlight {
  margin-top: 1rem;
}


// The Grid

.col {
  padding: 2rem 1rem;

  @media (min-width: 38em) {
    padding: 2rem;
  }

  p {
    max-width: 40rem;
  }

  + .col {
    background-color: lighten($lightgrey, 16%);
    border-top: 1px solid $section-border-color;
  }
}

@media (min-width: $bp-small) {
  .section {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .col {
    display: table-cell;
    padding: 3rem;
    vertical-align: top;
  }

  .col + .col {
    border-top: 0;
  }
}

/* Make the ToC a whole section */
.toc .col + .col {
  background-color: $bg-color;
}


/*
 * Masthead
 */

.masthead {
  padding: 3rem 1rem;
  color: rgba($white, .5);
  text-align: center;
  background-color: $intro-bg-color;

  @media (min-width: $bp-small) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  h1 {
    margin-bottom: .25rem;
    color: $white;
  }
}

.masthead-links {
  font-size: 2rem;

  a {
    color: rgba($white, .5);
    text-decoration: none;
    transition: all .15s linear;

    &:hover {
      color: $white;
    }
  }
}




// Sections

.heading {
  padding: 2rem 1rem 1.5rem;
  background-color: $section-bg-color;

  @media (min-width: $bp-small) {
    padding: 3rem 3rem 2.5rem;
  }
}

.section {
  border-bottom: 1px solid $section-border-color;
}


// Hints

.hint {
  padding: .5rem;
  background-color: lighten($lightgrey, 15%);
}


// Lints

.scss-lint {
  padding: .5rem;
  margin-top: 2rem;
  border-top: 2px solid $lightgrey;
}


// Footer

.footer {
  padding: 3rem 1rem;
  font-size: 90%;
  text-align: center;

  p {
    margin-bottom: .5rem;
  }
}

.quick-links {
  margin-left: 0;
  list-style: none;

  li {
    display: inline;
 }
}
